@page
@model Exercise4.Pages.MessageHubModel
@{
    ViewData["Title"] = "Messages";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row p-1">
        <div class="col-1">Recipient</div>
        <div class="col-5"><select id="recipientInput" asp-items="Model.Users"></select></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><textarea rows="10" class="w-100" id="contentInput"></textarea></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
            <button class="btn btn-secondary" type="button" onclick="window.location.reload()">Odśwież</button>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <h2>Wysłane wiadomości</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Data wysłania</th>
                        <th scope="col">Odbiorca</th>
                        <th scope="col">Treść</th>
                    </tr>                    
                </thead>
                <tbody id="sentMessagesTableBody"></tbody>
            </table>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <h2>Odebrane wiadomości</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Data wysłania</th>
                        <th scope="col">Nadawca</th>
                        <th scope="col">Treść</th>
                    </tr>
                </thead>
                <tbody id="receivedMessagesTableBody"></tbody>
            </table>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}